@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #f9f9fc;
    color: #7e7e7e;
    line-height: 30px;
}

@media screen and (min-width: 1024px) {
    body {
        /* max-width: 1024px; */
        max-width: 940px;
        margin: auto;
    }
}

.body-container {
    position: relative;
}

h3 {
    font-size: 2.7rem;
    color: black;
    font-weight: 800;
    line-height: 1.2;
}

@media screen and (max-width: 1024px) {
    body {
        /* max-width: 940px; */
        max-width: 700px;
        margin: auto;
    }
}

/* -------------------------------------------- */
/* -----------------  HEADER  ----------------- */
/* -------------------------------------------- */

.header {
    padding: 0.7rem;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    padding: 1.5rem;
    display: block;
    color: black;
}

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        color: white;
        background-color: lightslategray;
    }

    .navbar-links a {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        margin-top: 1rem;
    }

}

@media screen and (min-width: 768px) {
    .header {
        top: 10px;
        border-radius: 50px;
        left: 50px;
        right: 50px;
        padding: 0 0.7rem;
        border: 1px solid lightgrey;
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.7rem;
    }
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo p {
    color: black;
}

.header-logo img {
    width: 50px;
}


/* -------------------------------------------- */
/* ---------------  FRONT PAGE  --------------- */
/* -------------------------------------------- */

.front-page {
    min-height: 100vh;
    width: 100%;
    position: relative;
    margin: auto;
    padding: 2rem 0 4rem;
    max-width: 80%;
    margin: auto auto 2rem auto;
    z-index: 0;
}

.front-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    /* top: 15%; */
    left: 50%;
    transform: translate(-50%, 0);
    width: 95%;
    height: 100vh;
}

.front-page-content-image {
    margin-bottom: 1.2rem;
    background-color: #e2e2e2;
    width: 220px;
    height: 220px;
    border-radius: 100%;
}

.front-page-content-text .name,
.text {
    margin-bottom: 1rem;
}

.front-page-content-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    top: 10px;
}

.front-page-content-text .name {
    font-size: 2rem;
}

.social ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.social svg {
    width: 25px;
}

/* -------------------------------------------- */
/* -----------------  ABOUT  ------------------ */
/* -------------------------------------------- */

.about {
    background-color: #fff;
}

.about-title {
    margin-bottom: 3rem;
}

.about-skills h4 {
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.about-container {
    padding: 2rem 0 4rem;
    max-width: 80%;
    margin: auto auto 2rem auto;
}

.about-info p {
    margin-bottom: 2rem;
}

.about-content-tech {
    padding-top: 2rem;
}

.about-content-icon-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    column-gap: 4rem;
    row-gap: 1rem;
}

.icons-cards {
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-sass {
    gap: 20px;
}

/* -------------------------------------------- */
/* ---------------- EDUCATION  ---------------- */
/* -------------------------------------------- */

.education-container {
    max-width: 80%;
    margin: auto auto 2rem auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-bottom: 4rem;

}

.education-title {
    max-width: 80%;
    margin: auto;
}

.education-title {
    margin-bottom: 3rem;
}

.education h4 {
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2rem
}

.education-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
    border: 3px solid #f9f9fc;
    background-color: #fff;
    border-radius: 5px;
    padding: 1.5rem;
    max-width: 360px;
    margin: 1rem auto;
    box-shadow: 9px 6px 13px 1px #7C7C7C;
}

.education-card-logo {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.education-card-logo img {
    width: 50px;
}

.card-oracle img {
    width: 80px;
}

@media screen and (min-width:768px) {
    .education-card {
        align-items: center;
    }

    .card-oracle {
        flex-direction: row-reverse;
    }

    .card-nucba {
        flex-direction: row;
    }

}

@media screen and (min-width: 1024px) {
    .education-card-container {
        display: flex;
        column-gap: 1rem;
    }
}

/* -------------------------------------------- */
/* ---------------- PORTFOLIO  ---------------- */
/* -------------------------------------------- */

.portfolio {
    background-color: #fff;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

.portfolio-title {
    margin-bottom: 3rem;
}

.portfolio-container {
    max-width: 80%;
    margin: auto auto 2rem auto;

}

.portfolio-card {
    position: relative;
    text-align: justify;
    max-width: 360px;
    margin: auto;
    padding: 1rem;
    border-radius: 20px;
    height: 450px;
}

.portfolio-card .p-title {
    font-size: 1.1rem;
    /* line-height: 1.8; */
    margin: 1rem 0 0.5rem;
    color: #282828;
    font-weight: 400;
}

.portfolio-card .p-description {
    font-size: .8rem;
    line-height: 1.5;
}

.portfolio-card-btn {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 1rem;
    position: absolute;
    bottom: 20px;
}

.portfolio-card-btn button {
    width: 120px;
    padding: 1rem 0;
    /* border: none; */
    border: 1px solid #BBBFCA;
    border-radius: 10px;
    color: #585d65;
    font-family: inherit;
}

.portfolio-card-btn button:hover {
    box-shadow: 1px 2px 4px 4px #dfdfdf;
    background-color: black;
    color: white;
}

.portfolio-card-btn a {
    text-decoration: none;
    color: #585d65;
    padding: 1rem 2.5rem;
    border-radius: 10px;
}

.portfolio-card-btn a:hover {
    box-shadow: 1px 2px 4px 4px #dfdfdf;
    background-color: black;
    color: white;
}

.portfolio-card-img {
    text-align: center;
}

.portfolio-card-img img {
    width: 140px;
    width: 100%;
    height: 230px;
    object-fit: cover;
}

@media screen and (max-width: 1023px) {
    .portfolio-card-container {
        overflow: auto;
        display: flex;
        column-gap: 2rem;
        scroll-snap-type: x mandatory;
        height: 500px;
    }

    .portfolio-card {
        flex-shrink: 0;
        scroll-snap-align: start;
        max-width: 290px;
    }
}

@media screen and (min-width: 1024px) {
    .portfolio-card-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 3rem;
        column-gap: 2rem;
    }

    .portfolio-card {
        box-shadow: 0px 0px 13px 1px #dbdbdb;
    }
}

/* -------------------------------------------- */
/* ----------------- CONTACT  ----------------- */
/* -------------------------------------------- */

.contact {
    background-color: #fff;
    padding: 2rem 0;
}

.contact-container {
    max-width: 80%;
    margin: auto;

}

.contact-title {
    margin-bottom: 3rem;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    max-width: 85%;
    margin: 0 auto;
}

.contact-form {

    padding: 1rem;
}

.contact-name-input,
.contact-email-input {
    border: none;
    border-bottom: 1px solid #b4b3b3;
    padding: 1rem 0;
    width: 100%;
    font-family: inherit;
    color: #7E7E7E;
    font-weight: 500;
}

.contact-msg-textarea {
    resize: none;
    border: none;
    width: 100%;
    padding: 1rem 0;
    font-family: inherit;
}

.contact-info-container {
    background-color: #fff;
    padding: 1rem 1rem;
}

.contact-info-container span {
    color: #222222;
}

.contact-btn button {
    padding: 12px 25px 12px 25px;
    border: none;
    border-radius: 10px;
    color: #585d65;
    font-family: inherit;
    border: 2px solid #7E7E7E;
}

.contact-btn button:hover {
    box-shadow: 1px 2px 4px 4px #dfdfdf;
    background-color: black;
    color: white;
}

.error {
    background-color: red;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
    border-radius: 10px;
}